@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

@font-face {
    font-family: "chunk_five123";
    src: url('/fonts/Chunk.ttf');
}

* {
    margin:0px;
}

:root {
    --primary : #343434;
    --positive: #3CB371;
}

nav {
    background-color: var(--primary);
}
nav ul li a {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

nav ul li a:hover {
    text-transform: capitalize;
    color: var(--positive);
}


nav ul li {
  font-family: 'Oswald', sans-serif;
  list-style: none;
  display: inline-block;
  padding: 20px 10px;
  padding-right: 8px;    
}

nav ul.nav_icons li:nth-child(1) a {
    margin-left: 5px;
}

h1 {
    margin-top: 30px;
    margin-left: 150px;
    color: var(--primary);
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
    font-family: "chunk_five123";
}
div.form_container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 80px;
  
}
div.form_container {
    margin: 40px;
    margin-left: 70px;
    margin-top: 100px;
}

div.left {
    margin-left: 15px;
}

h2.role_head{
    padding: 20px;
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
}

div.form_head {
    height: 80px;
    width: 320px;
    font-weight: bold;
    padding-left: 10px;
    background-color:var(--primary);
}

div.form_body {
    background-color: whitesmoke;
    width: 270px;
    padding: 30px;
    padding-top: 25px;
}

label {
    font-family: 'Lato', sans-serif;
    margin-bottom:8px;
    display:inline-block;
}

#role {
    margin-bottom: 8px;
    border-radius: 5px;
    border-color: gray;
    /* outline-width: 0; */
    line-height: 2em; 
}

input {
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: gray;
    /* outline-width: 0; */
    line-height: 2em; 
}

select {
    width: 255px;
    height: 38px;
    margin: 10px;
}

div.form_footer {
    padding-right: 20px;
    height: 50px;
    width: 280px;
    font-weight: bold;
    padding-left: 30px;
    background-color: var(--primary);
}

button {
    background: #ededed;
    color: black;
    margin-top: 10px;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    width: 100px;
    line-height: 24px;
    outline: none;
    cursor: pointer;
}

table.role_data {
    margin-top: 30px;
} 

th {
    background-color: var(--primary);
    color: whitesmoke;
}

#role_id {
    height: 40px;
    width: 50px;
}

#role_name {
    width:120px;
}

#role_desc {
    width: 250px;
}

table, th, td {
    border: 0.1px solid black;
    border-collapse: collapse;
 }

table.role_data {
    border : 1px solid;
    text-align: center;
}

table.role_data th {
    height: 40px;
    width: 90px;
}

table.role_data td {
    height: 40px;
}